.page-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    background-image: url('/img/header-img1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    height: 180px;
    background-image: url('/img/header-img.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#navbar-wrap {
    display: flex;
    border-style: solid;
    border-color: green;
    border-width: 1px;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    flex-wrap: wrap;
    height: 30px;
    flex-direction: row;
    justify-content: flex-start
}

.middle-page {
    display: flex;
    border-style: solid;
    border-color: green;
    border-width: 1px;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #f1f1f1;
    justify-content: space-between;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.api-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    width: 55%;
}

.weather-api-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    justify-content: space-around;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}

.product-info {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    padding: 5px;
    width: 45%;
    height: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.weather-output {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    flex-direction: column;
    margin: 5px;
}

.nba-api-wrap {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    justify-content: space-around;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-warp {
    width: 70%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.final {
    border-style: solid;
    border-color: silver;
    border-width: 2px;
    border-radius: 5px;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
}

.score {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    padding: 5px;
    align-items: baseline;
}

.games-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    justify-content: space-around;
    padding: 5px;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: silver;
    height: 1px;
}

.game-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.Team {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    margin: 5px;
}

.img-logo {
    width: 50px;
    height: 50px;
}

#loggedin {
    margin-left: 10px;
}

#username {
    color: black;
}

#loginColor {
    color: #007bff;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .middle-page {
        flex-direction: column;
        justify-content: space-around;
    }
    .final {
        padding-right: 10px;
        padding-left: 10px;
    }
    .product-info {
        width: 100%;
    }
    .api-container {
        width: 100%;
    }
    .score {
        flex-direction: column;
        justify-content: space-around;
    }
    h4 {
        padding-left: 10px;
    }
    .game-wrap {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    #navbar-wrap {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    #loggedin {
        margin-left: 0px;
    }
}