.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

#navbar-wrap {
    border-style: solid;
    border-color: green;
    border-width: 1px;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}