
.products-container{
    display: flex;
    margin-bottom: 20px;
    border-style: solid;
    border-color: green;
    border-width: 5px;
    flex-wrap: wrap;
    justify-content: space-around ;

}
.product-small-wrap{ 
    background-color: rgb(0, 31, 51);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;}
    

 

  